*{
    margin: 0;
    padding: 0;

}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    background: url(/bigevent/assets/images/login_bg.jpg) no-repeat center/cover;
    
}
.logo {
    margin-top: 20px;
}

.box{
    width: 400px;
    height: 310px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}
.title{
    height: 60px;
    background: url(/bigevent/assets/images/login_title.png) no-repeat center;
}

.register{
    display: none;
}

/* .title {
    margin: 18px auto;
    text-align: center;
} */

.layui-form {
    padding: 0 30px;
}

#goToRegi,
#goToLogin{
    float: right;
}

.layui-form-item {
    position: relative;
}

.layui-icon{
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding-left: 35px;
}

/* .layui-form a{
    display: flex;
    justify-content: flex-end;
}
.layui-form-item{
    position: relative;
}
.layui-form-item .layui-icon {
    position: absolute;
    top: 11px;
    left: 8px;
}

input.layui-input{
    padding-left: 28px;
} */